\<?php require_once './default.php'; ?>
\<?php $subtitle = '確認画面'; ?>
!!!
%html(lang="ja")
  %head
    \<?php include 'head.php'; ?>
  %body
    %header#global_head
      \<?php include 'header.php'; ?>
    %section#global_body
      %p 内容を確認して送信してください。
      %table.fields
        %thead
          %tr
            %th
            %th
              内容
        %tbody
          %tr
            %th
              メールアドレス
            %td
          %tr
            %th
              お問い合わせ内容
            %td
        %tfoot
          %tr
            %td.actions{ colspan: 2 }
              %input{ type: 'submit' }
    %footer#global_foot
      \<?php include 'footer.php'; ?>
